<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Shopping</title>
    <th:block th:replace="layout/head :: head"/>
    <link rel="stylesheet" href="/assets/css/style-themes.scss9d45.css">
    <style>
        .fl {
            float: left;
        }

        .mgr-10 {
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <header>
        <div class="row">
            <div class="col-sm-5">
                <h1>Shopping</h1>
            </div>
            <div class="col-sm-7">
                <button id="btnShowCreateModal" class="btn btn-outline-light">
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <span>Add New Customer</span>
                </button>
                <a href="/customers" class="btn btn-outline-light">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <span>List of customers</span>
                </a>
            </div>
        </div>

        <div class="mainHeader">
            <div class="header-wrap-action">
                <div class="header-action">
                    <div class="header-action-item">
                        <div class="header-action_dropdown show-cart" id="show-cart">
                            <div class="header-dropdown_content">
                                <div class="sitenav-content sitenav-cart ">
                                    <div class="sitenav-content__title"><span id="close-cart">×</span>
                                        <p class="txt-title">Giỏ hàng</p></div>
                                    <div class="sitenav-content__block cart-view">
                                        <div class="cart-view-scroll sitenav-boxscroll">
                                            <div class="table-clone-cart">
                                            </div>
                                        </div>
                                        <div class="cart-view-line"></div>
                                        <div class="cart-view-total">
                                            <div class="mini-cart">
                                                <div class="mini-cart__total">
                                                    <div class="mnc-total mnc-total-text">TỔNG TIỀN:</div>
                                                    <div class="mnc-total mnc-total-price" id="total-view-cart">42.330&nbsp;₫</div>
                                                </div>
                                                <div class="mini-cart__button">
                                                    <div class="mnc-cta"><a class="linktocart button btnred"
                                                                            href="/gio-hang">Xem giỏ hàng</a>
                                                    </div>
                                                    <div class="mnc-cta"><a class="linktocheckout button btnred"
                                                                            href="/gio-hang">Thanh toán</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="content" class="content">
        <!--        <div class="card fl mgr-10" style="width: 18rem;">-->
        <!--            <img src="https://res.cloudinary.com/toanphat/image/upload/c_limit,w_288,h_216,q_100/product_images/464663e2-db3a-4d25-b432-fd86ebfd43a6.jpg" class="card-img-top" alt="...">-->
        <!--            <div class="card-body">-->
        <!--                <h5 class="card-title">Card title</h5>-->
        <!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
        <!--            </div>-->
        <!--        </div>-->

    </div>

    <footer id="footer">

    </footer>
</div>


<th:block th:replace="layout/script :: script"/>

<script src="/assets/js/app.js"></script>

<script>

    const page = {
        urls: {
            getAllProducts: App.PRODUCT_API,
            getCustomerById: App.CUSTOMER_API,
        },
        elements: {},
        loadData: {},
        commands: {},
        dialogs: {
            elements: {},
            loadData: {},
            commands: {},
            alertDanger: {}
        },
        initializeEventControl: {}
    }

    page.elements.btnShowCreateModal = $("#btnShowCreateModal");
    page.elements.content = $("#content");
    page.elements.tbCustomerBody = $("#tbCustomer tbody");

    let productAvatar = new ProductAvatar();
    let product = new Product();

    let carts = [];


    page.commands.getAllProducts = () => {
        $.ajax({
            type: "GET",
            url: page.urls.getAllProducts
        })
            .done((data) => {

                $.each(data, (i, item) => {
                    product = item;
                    productAvatar = product.avatar;

                    let str = renderProduct(product, productAvatar);

                    page.elements.content.append(str);
                })

                page.commands.handleAddCart();

            })
            .fail((error) => {
                console.error(error);
            })
    }


    page.commands.getCustomerById = (customerId) => {
        return $.ajax({
            type: "GET",
            url: page.urls.getCustomerById + "/" + customerId
        })
            .done((data) => {
                customer = data;
            })
            .fail((error) => {
                console.error(error);
            })
    }


    function renderProduct(product, avatar) {
        let productAvatar = `${App.SERVER_CLOUDINARY}/${App.SCALE_W288_H216_Q100}/${avatar.fileFolder}/${avatar.fileName}`;

        return `
            <div class="card fl mgr-10" style="width: 23rem; max-height: 415px;">
                <img src="${productAvatar}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">${product.title}</h5>
                    <p class="card-text">${product.price}</p>
                    <button class="btn btn-outline-primary add-cart" data-id="${product.id}" data-title="${product.title}" data-price="${product.price}" data-unit="${product.unit}" data-avatar="${productAvatar}">Add to cart</button>
                </div>
            </div>
            `;
    }


    function renderCart(item) {
        return `
            <div class="mini-cart__item ">
                <div class="mini-cart__left">
                    <a class="mnc-link" title="" href="/">
                        <img src="${item.avatar}" alt="${item.title}">
                    </a>
                </div>
                <div class="mini-cart__right">
                    <p class="mini-cart__title">
                        <a class="mnc-title mnc-link" href="/san-pham/cam-sanh">${item.title}</a>
                        <span class="mnc-variant">${item.unit}</span>
                    </p>
                    <div class="mini-cart__quantity">
                        <div class="quantity-selector">
                            <button class="qty-btn mnc-minus">
                                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <rect height="1" width="18" y="9" x="1"></rect>
                                </svg>
                            </button>
                            <input class="qty-value mnc-value" type="text" readonly="" name="mnc-quantity" value="1">
                            <button class="qty-btn mnc-plus">
                                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="9" y="1" width="1" height="17"></rect>
                                    <rect x="1" y="9" width="17" height="1"></rect>
                                </svg>
                            </button>
                        </div>
                        <div class="mini-cart__price">
                            <span class="mnc-price">${item.price}&nbsp;₫</span>
                        </div>
                    </div>
                    <div class="mini-cart__remove"> ×</div>
                </div>
            </div>
        `;
    }


    page.commands.loadData = () => {
        page.commands.getAllProducts();
    }

    page.commands.handleAddCart = () => {
        $(".add-cart").on("click", function () {
            let productId = $(this).data("id");
            let productTitle = $(this).data("title");
            let productPrice = $(this).data("price");
            let productUnit = $(this).data("unit");
            let productAvatar = $(this).data("avatar");
            let quantity = 1;

            let cartItem = {
                id: productId,
                title: productTitle,
                price: productPrice,
                unit: productUnit,
                avatar: productAvatar,
                quantity
            }

            carts.push(cartItem);

            $("#show-cart .table-clone-cart").empty();

            $.each(carts, (i, item) => {
                console.log(item)
                let str = renderCart(item);
                $("#show-cart .table-clone-cart").append(str);
            })
        })
    }

    page.initializeEventControl = () => {

    }

    $(() => {
        page.commands.loadData();

        page.initializeEventControl();
    });

</script>
</body>
</html>